/*Cores*/
:root{
    --color-roxo: #AEA8B0;
    --color-roxo2:rgb(185, 24, 185);
    --color-branco: white;
    --color-branco-imutavel: white;
    --color-preto: black;
    --color-texto-noticias: black;
    --color-noticias-navigation: rgb(139,83,143);
    --color-search: black;
}
/*Cor da linha horizontal, presente nas noticias semiPrincipais*/
hr{
    border-color: var(--color-roxo); 
}
:root.dark-mode{
    --color-branco: #2e2c2c;
    --color-texto-noticias: rgb(174, 166, 175);
    --color-search: rgb(175, 166, 166); 
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-branco);
    color: var(--color-preto);
    overflow-x: hidden;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/*Começo da header*/
header{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-roxo);
    height: 150px;
    width: 100%;
    box-shadow: 0px 1px 10px var(--color-preto);
    transition: height 0.3s ease;
    z-index: 1;
}
header.shrink{
    height: 100px;
}
.sidebar.shrink{
    top: 100px;
}
.button_header{
    padding-left: 3%; 
}
.button_header svg{
    width: 50px;
    height: 50px;
    fill: var(--color-branco);
}
.btn_icon_header{
    background-color: transparent;
    cursor: pointer;
    fill: var(--color-branco);
    color: var(--color-branco);
    border: none;
}
.btn_icon_header:hover{
    transform: scale(1.2)
}
.Header_logo{
    color: var(--color-branco);
    font-size: 100%;
}
.Header_logo h1{
    font-family: Sacramento, cursive;
    font-size: 50px;
    color: var(--color-branco-imutavel);
    text-shadow: 3px 3px 10px var(--color-preto);
}
.search{
    width: 130px;
    position: relative;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
}

.search img{
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.search.expandida{
    width: 300px;
}
.search input{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    height: 45px;
    width: 300px;
    font-size: 16px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    background-color: var(--color-branco);
    box-shadow: 1px 1px 10px var(--color-preto);
    color: var(--color-search);
}
.search.shrink{
    top: 20px;
}
.Header_logo, .Header_navigation, .btn_icon_header{
    padding: 0 30px;
    transition: transform 1s ease;
}
.Header_navigation{
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.divNavigation{
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    background-color: var(--color-branco);
    box-shadow: 1px 1px 10px var(--color-preto);
    margin: 20px;
    cursor: pointer;
    transition: top 1s ease;
}

.Header_navigation p{
    text-decoration: none;
    color: var(--color-preto);
    white-space: nowrap;

    border-color: var(--color-preto);
    padding: 3px;
    margin: 5px;
    font-weight: bold;
    font-size: 22px;
}
.noturno{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    border-radius: 20px;
    background-color: var(--color-branco);
    box-shadow: 1px 1px 10px var(--color-preto);
    margin-top: 70px;
}
.noturno p{
    text-decoration: none;
    color: var(--color-preto);
    white-space: nowrap;
   
    border-color: var(--color-preto);
    padding: 3px;
    margin: 5px;
    font-weight: bold;
    font-size: 22px;
}
.noticiasdiv{
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    background-color: var(--color-branco);
    box-shadow: 1px 1px 10px var(--color-preto);
    margin: 10px;
    cursor: pointer;
}
.noticiasdiv.show{
    animation: noticiasDiv 1s forwards;
    transition: height 1s ease;
}
.pNoticia{
    position: absolute;
    top: 4px;
}
@keyframes noticiasDiv{
    from{
        height: 50px;
    }
    to{
        height: 100px;
    }
}
.noticias_navigation{
    position: relative;
    top: 17px;
    display: none;
    width: 180px;
    height: 48px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
}
.noticias_navigation.show{
    display: flex;
    animation: animacaoNavi 3s forwards;
}
@keyframes animacaoNavi{
    from{
        margin-left: 2px;
        border-color: transparent;  
    }
    to{
        border-color: 1px solid black;
    }
}
.pNoticiaDrop{
    animation: pNoticiaDrop 1s forwards;
    transition: color 1s ease;
}
@keyframes pNoticiaDrop{
    from{
        color: transparent;
    }
    to{
        color: var(--color-preto);
    }
}
.filtrar_data_autor{
    position: absolute;
    display: flex;
    left: 25%;
    bottom: 0px;
    width: 60px;
    height: 30px;
    justify-items: center;
    border-radius: 20px;
    background-color: var(--color-branco);
    box-shadow: 1px 1px 10px var(--color-preto);
    margin: 10px;
    cursor: pointer;
    flex-direction: column;
}
.pFiltroDiv{
    position: relative;
    top: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.dropdownFiltro{
    display: none;
    position: relative;
    width: 285px;
    flex-direction: row;
    background-color: var(--color-branco);
    box-shadow: 1px 1px 10px var(--color-preto);
    align-items: center;
    border-radius: 20px;
}
.dataDiv, .autorDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 60px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 20px;
    animation: filtro 1s forwards;
}
@keyframes filtro {
    from{
        height: 0px;
    }
    to{
        height: 70;
    }
}
.dropdownFiltro label{
    text-decoration: none;
    color: var(--color-preto);
    white-space: nowrap;
    border-color: var(--color-preto);
    font-weight: bold;
    animation: filtroLabel 1s forwards;
    margin: 3px;
}
.dropdownFiltro input{
    border: none;
    background-color: var(--color-roxo);
    border-radius: 20px;
    margin: 0 2px;
    padding: 3px;
    animation: 1s filtroLabel 0.4s forwards;
    opacity: 0;
}
@keyframes filtroLabel {
    from{
        opacity: 0;
        bottom: 0px;
    }to{
        opacity: 1;
        top: 0px;
    }
}
.dropdownFiltro.show{
    display: flex;
    top: 21.7px;
}

.btn_icon_header_x{
    position: relative;
    background-color: transparent;
    cursor: pointer;
    fill: var(--color-branco);
    color: var(--color-branco);
    display: block;
    border: none;
    margin-right: -90%;
}
.noturno svg{
    padding: 10px;
}

/*Checkbox*/
.checkbox-wrapper-54 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-54 *,
  .checkbox-wrapper-54 ::after,
  .checkbox-wrapper-54 ::before {
    box-sizing: border-box;
  }
  .checkbox-wrapper-54 .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
  }
  .checkbox-wrapper-54 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-branco);
    transition: .4s;
    border-radius: 30px;
  }

  .checkbox-wrapper-54 .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: .4s;
  }

  .checkbox-wrapper-54 input:checked + .slider {
    background-color: var(--color-branco);
  }

  .checkbox-wrapper-54 input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: var(--color-branco);
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
  .sidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background: var(--color-roxo);
    height: 100%;
    top: 150px;
    width: 25vw;
    padding: 0px;
    animation-duration: 1s;
    transition: margin-left 0.5s ease, top 0.3s ease;
    margin-left: -100vw;
    box-shadow: 0px 0px 10px var(--color-preto);
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: 0vw;}
}
/*Fim da Header*/
/*Começo do corpo*/
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding-top: 200px;
    padding-bottom: 200px;
    animation: slide-in 1s ease forwards; /*Animação da esquerda a direita*/
}
.buscaNone{
    position: absolute;
    top: 60%;
    color: var(--color-texto-noticias);
}
.conteudo_principal{
    position: relative;
    display: inline-flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.noticia_principal1{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 30px;
}
.noticia_principal1 img{
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 10px;
}
.texto_sobreposto{
    position: relative;
    font-size: 30px; 
    color: var(--color-preto);
    border: none;
    padding: 12px; 
}
.texto_sobreposto p{
    font-size: 20px;
}
.hrSection1{
    height: 100%;
    width: 3px;
    display: flex;
}
.hrSection1 hr {
    border: 1px solid black;
}
.noticia_principal2{
    width: 500px;
}
.noticia_principal2 img{
    max-width: 500px;
    border-radius: 10px;
}

.separaNoticiasPricipais{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.separaNoticiasPricipais hr{
    margin-bottom: 30px;
}
.noticia_principal3{
    width: 1000px;
}
.noticia_principal3 img{
    height:300px;
}
.conteudo_semi_principal{
    display: flex;
    flex-direction: row;
}
.conteudo1, .conteudo2{
    display: flex;
    flex-direction: column;
    top: 100px;
    margin-top: 50px;
    margin-right: 20px;
    padding: 10px;
    animation: slide-in 1s ease forwards; /*Animação da esquerda a direita*/
}
/*Animação da esquerda a direita*/
.item:nth-child(1) {
    animation-delay: 0.1s;
}
/*Animação da esquerda a direita*/
.item:nth-child(2) {
    animation-delay: 0.2s;
}
/*Animação da esquerda a direita*/
.item:nth-child(3) {
    animation-delay: 0.3s;
}
/*Animação da esquerda a direita*/
@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.noticia{
    display: flex;
    flex-direction: row;
    width: 600px;
    margin: 20px;
}
.noticia_texto{
    display: flex;
    flex-direction: column;
    color: var(--color-texto-noticias);
    margin: 5px;
}
.noticia_texto h3{
    color: var(--color-texto-noticias);
} 
.noticia_texto p{
    color: var(--color-texto-noticias);
}
.tempo{
    display: flex;
    flex-direction: row;
    color: var(--color-texto-noticias);
    margin: 5px;
}
.noticia img{
    border-radius: 10px;
}
.ratinho_jpg,
.enchentes{
    width: 300px;
    height: 150px;
}
.tempo{
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
footer{
    position: absolute;
    display: flex;
    width: 100vw;
    margin-top: 100px;
    background-color: var(--color-roxo);
    box-shadow: 1px 1px 10px var(--color-preto);
}
footer h3{
    padding: 10px;
    font-size: 30px;
    color: var(--color-branco);
    border: none;

}
.developers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    background-color: white;
}
.gustavo_content, .joao_content, .diego_content, .gabriel_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.design, .developer, .contenter{
    align-items: center;
    background-color: gray;
    box-shadow: 1px 1px 4px var(--color-noticias-navigation);
    border-radius: 20px;
    width: 33%;
    margin: 10px;
}
.instagram_img{
    width: 60px;
    border-radius: 50%;
}
.autores_img{
    width: 90px;
    border-radius: 50%;
    padding: 20px;
}
a{
    text-decoration: none;
}
.noticiasExternas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudoJSON{
    position: relative;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin: 50px;
}
.conteudoJSON h1{
    text-shadow: 1px 1px 4px var(--color-preto);
    color: var(--color-roxo); 
    font-size: 50px; 
}
.conteudoAdicionado{
    position: relative;
    width: 100%;
    justify-content: start;
    align-items: start;
    margin: 50px;
}
.botaoNoticiaAdicionada{
    height: 30px;
    width: 60px;
    background-color: var(--color-roxo);
    border: none;
    border-radius: 20px;
    color: var(--color-branco-imutavel);
    box-shadow: 1px 1px 4px var(--color-preto);
}
/*Fim do corpo*/
/*Responsividade*/
@media screen and (max-width: 1282px){
    .conteudo_semi_principal{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 980px){
    .conteudo_principal,
    .noticia_principal1,
    .noticia_principal1 img{
        width: 500px;    
    }
    .texto_sobreposto{
        top: 78%;
        font-size: 16px;
    }
    .texto_sobreposto p{
        font-size: 12px;
    }
    .noticia img{
        width: 250px;
        height: 100px;
    }
}
@media screen and (max-width: 856px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 300px;
        overflow-x: hidden;
    }
    header.shrink{
        height: 200px;
    }
    .sidebar.shrink{
        top: 200px;
    }
    .sidebar{
        top: 300px;
    }
    .Header_navigation{
        display: flex;
        position: absolute;
        left: 0px;
        top: 20px;
        flex-direction: column;
    }
    .ativo{
        width:50%;
    }
    .search input{
        border-radius: 20px;
    }
    .dropdownFiltro{
        top: 170px;
    }
    .dropdownFiltro.shrink{
        top: 40px;
        left: 190px;
        flex-direction: column;
    }
    main{
        padding-top: 300px;
    }
    .noticia{
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 20px;
    }
    .noticias_navigation{
        top: 0px;
        left: 70px;
    }
    .developers{
        flex-direction: column;
    }
    .design, .developer, .contenter{
        width: 80%;
    }
}
@media screen and (max-width: 600px){
    .conteudo_principal,
    .noticia_principal1,
    .noticia_principal1 img{
        width: 430px;    
    }
    .texto_sobreposto{
        top: 75%;
        font-size: 14px;
    }
    .texto_sobreposto p{
        font-size: 12px;
    }
}
